<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebService.EndpointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WebService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <!--
         The binding is how the HTTP message is delivered to the server
         This is where you declare the security for the delivery of the message.
         Since we are using https, the security level should be Transport.
         Because we are using a custom Basic authentication module, we will not
         require the Client Credentials in the web.config.
       -->
        <binding name="WebService.webHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WebService.ServiceBehavior"
        name="WebService.WebService">
        <endpoint address="" behaviorConfiguration="WebService.EndpointBehavior"
          binding="webHttpBinding" bindingConfiguration="WebService.webHttpBinding"
          name="WebService" contract="WebService.IWebService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Register the modules that are to load in IIS prior to the application start.
       
       The SCCView.WebService.BasicAuthenticationModule allows the application
       to overload the IIS Basic authentication to be custom authentication
       
       The UrlRoutingModule allows IIS to use the application defined routing defined
       in the Global.asax page
     -->
      <add name="WebService.BasicAuthenticationModule"
           type="WebService.BasicAuthenticationModule"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,&#xD;&#xA;           System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                                                                                        />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
